MiPrimerPRoyectoSoap/ConversionSW.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ws/" name="ConversionSW" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws/" schemaLocation="ConversionSW_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="resolverFormulaCuadratica">
    <part name="parameters" element="tns:resolverFormulaCuadratica"/>
  </message>
  <message name="resolverFormulaCuadraticaResponse">
    <part name="parameters" element="tns:resolverFormulaCuadraticaResponse"/>
  </message>
  <message name="euroADolar">
    <part name="parameters" element="tns:euroADolar"/>
  </message>
  <message name="euroADolarResponse">
    <part name="parameters" element="tns:euroADolarResponse"/>
  </message>
  <message name="sumar">
    <part name="parameters" element="tns:sumar"/>
  </message>
  <message name="sumarResponse">
    <part name="parameters" element="tns:sumarResponse"/>
  </message>
  <message name="multiplicar">
    <part name="parameters" element="tns:multiplicar"/>
  </message>
  <message name="multiplicarResponse">
    <part name="parameters" element="tns:multiplicarResponse"/>
  </message>
  <message name="restar">
    <part name="parameters" element="tns:restar"/>
  </message>
  <message name="restarResponse">
    <part name="parameters" element="tns:restarResponse"/>
  </message>
  <message name="dividir">
    <part name="parameters" element="tns:dividir"/>
  </message>
  <message name="dividirResponse">
    <part name="parameters" element="tns:dividirResponse"/>
  </message>
  <portType name="ConversionSW">
    <operation name="hello">
      <input wsam:Action="http://ws/ConversionSW/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://ws/ConversionSW/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="login">
      <input wsam:Action="http://ws/ConversionSW/loginRequest" message="tns:login"/>
      <output wsam:Action="http://ws/ConversionSW/loginResponse" message="tns:loginResponse"/>
    </operation>
    <operation name="resolverFormulaCuadratica">
      <input wsam:Action="http://ws/ConversionSW/resolverFormulaCuadraticaRequest" message="tns:resolverFormulaCuadratica"/>
      <output wsam:Action="http://ws/ConversionSW/resolverFormulaCuadraticaResponse" message="tns:resolverFormulaCuadraticaResponse"/>
    </operation>
    <operation name="euroADolar">
      <input wsam:Action="http://ws/ConversionSW/euroADolarRequest" message="tns:euroADolar"/>
      <output wsam:Action="http://ws/ConversionSW/euroADolarResponse" message="tns:euroADolarResponse"/>
    </operation>
    <operation name="sumar">
      <input wsam:Action="http://ws/ConversionSW/sumarRequest" message="tns:sumar"/>
      <output wsam:Action="http://ws/ConversionSW/sumarResponse" message="tns:sumarResponse"/>
    </operation>
    <operation name="multiplicar">
      <input wsam:Action="http://ws/ConversionSW/multiplicarRequest" message="tns:multiplicar"/>
      <output wsam:Action="http://ws/ConversionSW/multiplicarResponse" message="tns:multiplicarResponse"/>
    </operation>
    <operation name="restar">
      <input wsam:Action="http://ws/ConversionSW/restarRequest" message="tns:restar"/>
      <output wsam:Action="http://ws/ConversionSW/restarResponse" message="tns:restarResponse"/>
    </operation>
    <operation name="dividir">
      <input wsam:Action="http://ws/ConversionSW/dividirRequest" message="tns:dividir"/>
      <output wsam:Action="http://ws/ConversionSW/dividirResponse" message="tns:dividirResponse"/>
    </operation>
  </portType>
  <binding name="ConversionSWPortBinding" type="tns:ConversionSW">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="resolverFormulaCuadratica">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="euroADolar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sumar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="multiplicar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="restar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="dividir">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ConversionSW">
    <port name="ConversionSWPort" binding="tns:ConversionSWPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

